**/Publish/
**/Publishs/
**/target/
logs/
Publish/
bin/
obj/
Logs/
dist/
.vscode/

# Arquivos especificos de usuario
*.suo
.angulardoc.json
*.user
_ReSharper.*/
**/.idea
*.sdf
**/bin/
**/obj/
**/Debug/
**/bower_components/
**/node_modules/
**/Realease/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
GlobalPoints.sqlite
applicationhost.config

*.DS_Store
